<p style="color: green"><%= notice %></p>

<%# lg:ml-64 in belov div is added when navbar is shown %>
<div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto">
  <main>
    <div class="pt-6 px-4">
        <div class="w-full grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
          <%# card with property data %>
          <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8  2xl:col-span-2">
            <div class="flex flex-wrap">
              <div class="w-full lg:w-1/2 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    <%= t('activerecord.attributes.property.expense.name') %>
                  </label>
                  <p class="text-gray-700 text-sm font-bold mb-2">
                    <%= @property_expense.name %>
                  </p>
                </div>
              </div>
              <div class="w-full lg:w-1/2 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    <%= t('activerecord.attributes.property.expense.due_date') %>
                  </label>
                  <p class="text-gray-700 text-sm font-bold mb-2">
                    <%= @property_expense.due_date %>
                  </p>
                </div>
              </div>
              <div class="w-full lg:w-1/2 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    <%= t('activerecord.attributes.property.expense.amount') %>
                  </label>
                  <p class="text-gray-700 text-sm font-bold mb-2">
                    <%= number_to_currency(@property_expense.amount) %>
                  </p>
                </div>
              </div>
              <div class="w-full lg:w-1/2 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    <%= t('activerecord.attributes.property.expense.description') %>
                  </label>
                  <p class="text-gray-700 text-sm font-bold mb-2">
                    <%= @property_expense.description %>
                  </p>
                </div>
              </div>
              <div class="w-full lg:w-1/2 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    <%= t('activerecord.attributes.property.expense.received_date') %>
                  </label>
                  <p class="text-gray-700 text-sm font-bold mb-2">
                    <%= @property_expense.received_date %>
                  </p>
                </div>
              </div>
              <div class="w-full lg:w-1/2 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    <%= t('activerecord.attributes.property.expense.kind') %>
                  </label>
                  <p class="text-gray-700 text-sm font-bold mb-2">
                    <%= @property_expense.kind %>
                  </p>
                </div>
              </div>
              <div class="w-full lg:w-1/2 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    <%= t('activerecord.attributes.property.expense.expensable') %>
                  </label>
                  <p class="text-gray-700 text-sm font-bold mb-2">
                    <%= link_to @property_expense.expensable.get_name, @property_expense.expensable %>
                  </p>
                </div>
              </div>
              <div class="w-full lg:w-1/2 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    <%= t('activerecord.attributes.property.income.paid') %>
                  </label>
                  <p class="text-gray-700 text-sm font-bold mb-2">
                    <%= @property_expense.paid? %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
            <%#= render 'layouts/tailwind/latest_transactions_table', model: @property_expense %>
          </div>
        </div>
    </div>
  </main>
</div>
