<%= form_with(model: tenant) do |form| %>
  <% if tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

      <ul>
        <% tenant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :building_id %>
    <%= form.select :building_id, @buildings_array, { include_blank: true }, onchange: 'fetchFlatNumbers(event)' %>
  </div>

  <div class="field">
    <%= form.label :door_number %>
    <%= form.select :door_number, @flats_array, { include_blank: I18n.t('forms.select_building_first') } %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :account_no %>
    <%= form.number_field :account_no %>
  </div>

  <div class="field">
    <%= form.label :rent_from %>
    <%= form.date_select :rent_from %>
  </div>

  <div class="field">
    <%= form.label :rent_to %>
    <%= form.date_select :rent_to %>
  </div>

  <div class="field">
    <%= form.label :payment_due %>
    <%= form.date_select :payment_due %>
  </div>

  <div class="field">
    <%= form.label :paid %>
    <%= form.check_box :paid %>
  </div>

  <div class="field">
    <%= form.label :debt %>
    <%= form.text_field :debt %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  const doorNumberSelect = document.getElementById('tenant_door_number')
  const buildingSelect = document.getElementById('tenant_building_id')
  var i = 0;
  document.addEventListener('DOMContentLoaded', function () {
    doorNumberSelect.options.length = 0;
  })
  function fetchFlatNumbers(event) {
    if (i==0) {
      buildingSelect.options[0].remove();
    }
    i++;

    doorNumberSelect.options.length = 0;
    let buildingId = event.target.value
    let buildingPath = "<%=j(find_flats_path("placeholder"))%>"
    buildingPath = buildingPath.replace("placeholder",buildingId)

    fetch(buildingPath)
    .then(response => response.json())
    .then(data =>
      data.forEach(element => {
        let newOptionElement = document.createElement('option')
        newOptionElement.value = element["id"];
        newOptionElement.innerHTML = element["door_number"];
        doorNumberSelect.appendChild(newOptionElement);
      })
    );
  }
</script>