<p id="notice"><%= notice %></p>

<p>
  <strong>Door Number:</strong>
  <%= @flats_array.filter_map{ |f| f[0] if f[1] == @tenant.flat_id}[0] %>
</p>

<p>
  <strong>Building:</strong>
  <%= @tenant.building_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tenant.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @tenant.surname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @tenant.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tenant.email %>
</p>

<p>
  <strong>Account no:</strong>
  <%= @tenant.account_no %>
</p>

<p>
  <strong>Rent from:</strong>
  <%= @tenant.rent_from %>
</p>

<p>
  <strong>Rent to:</strong>
  <%= @tenant.rent_to %>
</p>

<p>
  <strong>Payment due:</strong>
  <%= @tenant.payment_due %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @tenant.paid %>
</p>

<p>
  <strong>Debt:</strong>
  <%= @tenant.debt %>
</p>

<p>
  <strong>Active:</strong>
  <%= @tenant.active %>
</p>
<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
