<div id="<%= dom_id income %>">
  <p>
    <strong>Amount:</strong>
    <%= income.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= income.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= income.due_date %>
  </p>

  <p>
    <strong>Incomable type:</strong>
    <%= income.incomable_type %>
  </p>

  <p>
    <strong>Incomable:</strong>
    <%= income.incomable_id %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= income.kind %>
  </p>

  <p>
    <strong>Received date:</strong>
    <%= income.received_date %>
  </p>

</div>
