<div class="grid w-full place-items-center mt-6r">
  <div class="w-11/12 bg-white sm:w-8/12 md:w-1/2 lg:w-5/12">
    <%= form_with(model: property_payment) do |form| %>
      <% if property_payment.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(property_payment.errors.count, "error") %> prohibited this property_payment from being saved:</h2>

          <ul>
            <% property_payment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.label :name, class: label_class %>
      <%= form.text_field :name, class: input_class %>

      <%= form.label :description, class: label_class %>
      <%= form.text_area :description, class: input_class %>

      <%# half width input %>
      <div class="flex justify-between gap-3">
        <span class="w-1/2">
          <%= form.label :amount, class: label_class %>
          <%= form.text_field :amount, class: input_class %>
        </span>
        <span class="w-1/2">
          <%= form.label :currency, class: label_class %>
          <%= form.text_field :currency, class: input_class %>
        </span>
      </div>

      <div class="flex justify-between gap-3">
        <span class="w-1/2">
          <%= form.label :client_id, class: label_class %>
          <%= form.select :client_id, Customer::Client.all.map { |c| [c.get_name, c.id] }, {}, class: input_class %>
        </span>
        <span class="w-1/2">
          <%= form.label :date, class: label_class %>
          <%= form.date_field :date, class: input_class %>
        </span>
      </div>

      <div class="flex justify-between gap-3">
        <span class="w-1/2">
          <%= form.label :payable_type, class: label_class %>
          <%= form.select :payable_type, Property::Payment.payable_types, { include_blank: true },
            class: input_class, data: { controller: 'dynamic-select',
            'turbo-type': 'payable_ids', url: fetch_payables_property_payments_path } %>
        </span>

      <%= turbo_frame_tag "payable_ids", class:"w-1/2" do %>
        <% if @property_payment.payable_type.present? %>
          <span id="payable_ids" class="w-1/2">
            <%= form.label :payable_id, class: label_class %>
            <%= form.select :payable_id, @property_payment.payable_values_array, {}, class: input_class %>
          </span>
        <% end %>
      <% end %>
      </div>

      <div class="flex justify-between gap-3">
        <span class="w-1/2">
          <%= form.label :kind, class: label_class %>
          <%= form.select :kind, Property::Payment.kinds.keys, { include_blank: true },
            class: input_class, data: { controller: 'dynamic-select',
            'turbo-type': 'kinds', url: fetch_payment_kind_model_values_property_payments_path } %>
        </span>

      <%= turbo_frame_tag "kinds", class:"w-1/2" do %>
        <% if @property_payment.kind.present? %>
          <span id="kinds">
            <%= form.label "#{@property_payment.kind}_id", class: label_class %>
            <%= form.select "#{@property_payment.kind}_id", Property::Payment.kind_model_values(@property_payment.kind), {}, class: input_class %>
          </span>
        <% end %>
      <% end %>
      </div>

      <%= form.submit class: "w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-indigo-700 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 rounded cursor-pointer" %>
    <% end %>
  </div>
</div>
