<div id="<%= dom_id payment %>">
  <p>
    <strong>Date:</strong>
    <%= payment.date %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= payment.kind %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= payment.currency %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= payment.description %>
  </p>

  <p>
    <strong>Income:</strong>
    <%= payment.income_id %>
  </p>

  <p>
    <strong>Expense:</strong>
    <%= payment.expense_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= payment.client_id %>
  </p>

</div>
