<div class="grid w-full place-items-center mt-6r">
  <div class="w-11/12 bg-white sm:w-8/12 md:w-1/2 lg:w-5/12">
    <%= form_with(model: property_rental) do |form| %>
      <% if property_rental.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(property_rental.errors.count, "error") %> prohibited this property_rental from being saved:</h2>

          <ul>
            <% property_rental.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.label :name, class: label_class %>
      <%= form.text_field :name, class: input_class %>

      <%= form.label :description, class: label_class %>
      <%= form.text_area :description, class: input_class %>

      <%= form.label :status, class: label_class %>
      <%= form.select :status, Property::Rental.statuses.keys, class: input_class %>

      <%# half width input %>
      <div class="flex justify-between gap-3">
        <span class="w-1/2">
          <%= form.label :taken_from, class: label_class %>
          <%= form.date_field :taken_from, class: input_class %>
        </span>
        <span class="w-1/2">
          <%= form.label :taken_until, class: label_class %>
          <%= form.date_field :taken_until, class: input_class %>
        </span>
      </div>

      <div class="flex justify-between gap-3">
        <span class="w-1/2">
          <%= form.label :rent, class: label_class %>
          <%= form.text_field :rent, class: input_class %>
        </span>
        <span class="w-1/2">
          <%= form.label :client_id, class: label_class %>
          <%= form.select :client_id, Customer::Client.all.map { |c| [c.get_name, c.id] }, class: input_class %>
        </span>
      </div>

      <div class="flex justify-between gap-3">
        <span class="w-1/2">
          <%#= form.label :rent, class: label_class %>
          <%#= form.text_field :rent, class: input_class %>
        </span>
        <span class="w-1/2">
          <%= form.label :property_id, class: label_class %>
          <%= form.select :property_id, Property::Property.all.map { |prop| [prop.get_name, prop.id] }, class: input_class %>
        </span>
      </div>

      <%= form.submit class: "w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-indigo-700 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 rounded cursor-pointer" %>
    <% end %>
  </div>
</div>
