<div id="<%= dom_id rental %>">
  <p>
    <strong>Name:</strong>
    <%= rental.get_name %>
  </p>

  <p>
    <strong>Rent:</strong>
    <%= rental.rent %>
  </p>

  <p>
    <strong>Taken from:</strong>
    <%= rental.taken_from %>
  </p>

  <p>
    <strong>Taken until:</strong>
    <%= rental.taken_until %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= rental.account_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= rental.get_status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= rental.description %>
  </p>

  <p>
    <strong>Client ID:</strong>
    <%= rental.client_id %>
  </p>

  <p>
    <strong>Property ID:</strong>
    <%= rental.property_id %>
  </p>

</div>
