<div id="<%= dom_id rental %>">
  <p>
    <strong>Name:</strong>
    <%= rental.name %>
  </p>

  <p>
    <strong>Surface:</strong>
    <%= rental.surface %>
  </p>

  <p>
    <strong>Rooms amount:</strong>
    <%= rental.rooms_amount %>
  </p>

  <p>
    <strong>Door no:</strong>
    <%= rental.door_no %>
  </p>

  <p>
    <strong>Rent:</strong>
    <%= rental.rent %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= rental.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= rental.city %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= rental.street %>
  </p>

  <p>
    <strong>Street no:</strong>
    <%= rental.street_no %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= rental.zip %>
  </p>

  <p>
    <strong>Floor no:</strong>
    <%= rental.floor_no %>
  </p>

  <p>
    <strong>Bought at:</strong>
    <%= rental.bought_at %>
  </p>

  <p>
    <strong>Buy price:</strong>
    <%= rental.buy_price %>
  </p>

  <p>
    <strong>Sale price:</strong>
    <%= rental.sale_price %>
  </p>

  <p>
    <strong>Taken from:</strong>
    <%= rental.taken_from %>
  </p>

  <p>
    <strong>Taken until:</strong>
    <%= rental.taken_until %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= rental.account_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= rental.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= rental.description %>
  </p>

</div>
