<div class="mb-4 flex items-center justify-between">
  <div>
      <h3 class="text-xl font-bold text-gray-900 mb-2">Latest Transactions</h3>
      <span class="text-base font-normal text-gray-500">This is a list of latest transactions</span>
  </div>
  <div class="flex-shrink-0">
    <%= link_to 'View all', property_payments_path, class:'text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg p-2'%>
  </div>
</div>
<div class="flex flex-col mt-8">
  <div class="overflow-x-auto rounded-lg">
      <div class="align-middle inline-block min-w-full">
        <div class="shadow overflow-hidden sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Name
                    </th>
                    <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Client
                    </th>
                    <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Date
                    </th>
                    <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Amount
                    </th>
                  </tr>
              </thead>
              <tbody class="bg-white">
                <% model.payments.order('id desc').each do |payment| %>
                  <tr>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                      <%= link_to payment.get_name(full: false), payment %>
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                      <span class="font-semibold">
                      <%=
                      if payment.client_id.nil?
                        "Unknown"
                      else
                        link_to payment.client.get_name, payment.client
                      end
                      %></span>
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                        <%= payment.date %>
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-semibold <%= payment.income? ? success_text_color : error_text_color %>">
                        <%= number_to_currency(payment.amount) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
      </div>
  </div>
</div>