
<p id="notice"><%= notice %></p>

<h1>Buildings</h1>

<!-- Card group -->
 <div class="card-group">
  <% @buildings.each do |building| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= building.name %></h5>
        <p class="card-text"><%= building.address %></p>
        <p class="card-text">
        <%= "#{I18n.t('building.flats_taken')}: #{building.flats_taken_display}" %>
        <%= "#{I18n.t('building.total_due')}: #{building.total_due} / #{building.total_revenue}"%>
        </p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  <% end %>
</div>

<br>

<h2><%= I18n.t('headers.all_flats') %></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Building</th>
      <th>Floor no</th>
      <th>Surface</th>
      <th>Rooms amount</th>
      <th>Door number</th>
      <th>Rent</th>
      <th>Taken</th>
      <th>Taken until</th>
      <th>Debt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr>
        <td><%= flat.building.name %></td>
        <td><%= flat.floor_no %></td>
        <td><%= flat.surface %></td>
        <td><%= flat.rooms_amount %></td>
        <td><%= flat.door_number %></td>
        <td><%= flat.rent %></td>
        <td><%= flat.taken %></td>
        <td><%= flat.taken_until %></td>
        <td><%= flat.debt %></td>
        <td><%= link_to 'Show', flat %></td>
        <td><%= link_to 'Edit', edit_flat_path(flat) %></td>
        <td><%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Building', new_building_path %>
