<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row top-row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @building.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= @building.address %></h6>
          <p class="card-text">
            <%= "#{I18n.t('buildings.flats_taken')}: #{@building.flats_taken_display}" %>
          </p>
          <p>
            <%= "#{I18n.t('buildings.total_due')}: #{@building.total_due} / #{@building.total_revenue}"%>
          </p>
          <%= link_to 'Edit', edit_building_path(@building), class: 'card-link' %>
          <%= link_to 'Back', buildings_path, class: 'card-link' %>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card scroll" >
        <div class="">
        <%= render 'payments_table'%>
        </div>
      </div>
    </div>
  </div>

  <h2>Flats</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Building</th>
        <th>Floor no</th>
        <th>Surface</th>
        <th>Rooms amount</th>
        <th>Door number</th>
        <th>Rent</th>
        <th>Taken</th>
        <th>Taken until</th>
        <th>Debt</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @flats.each do |flat| %>
        <tr>
          <td><%= flat.building_id %></td>
          <td><%= flat.floor_no %></td>
          <td><%= flat.surface %></td>
          <td><%= flat.rooms_amount %></td>
          <td><%= flat.door_number %></td>
          <td><%= flat.rent %></td>
          <td><%= flat.taken %></td>
          <td><%= flat.taken_until %></td>
          <td><%= flat.debt %></td>
          <td><%= link_to 'Show', flat %></td>
          <td><%= link_to 'Edit', edit_flat_path(flat) %></td>
          <td><%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
