<div id="<%= dom_id sale %>">
  <p>
    <strong>Name:</strong>
    <%= sale.name %>
  </p>

  <p>
    <strong>Surface:</strong>
    <%= sale.surface %>
  </p>

  <p>
    <strong>Rooms amount:</strong>
    <%= sale.rooms_amount %>
  </p>

  <p>
    <strong>Door numer:</strong>
    <%= sale.door_no %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= sale.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= sale.city %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= sale.street %>
  </p>

  <p>
    <strong>Street no:</strong>
    <%= sale.street_no %>
  </p>

  <p>
    <strong>Floor no:</strong>
    <%= sale.floor_no %>
  </p>

  <p>
    <strong>Bought at:</strong>
    <%= sale.bought_at %>
  </p>

  <p>
    <strong>Sold at:</strong>
    <%= sale.sold_at %>
  </p>

  <p>
    <strong>Buy price:</strong>
    <%= sale.buy_price %>
  </p>

  <p>
    <strong>Sale price:</strong>
    <%= sale.sale_price %>
  </p>

</div>
