<div id="<%= dom_id property %>">
  <p>
    <strong>Name:</strong>
    <%= property.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= property.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= property.city %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= property.zip %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= property.street %>
  </p>

  <p>
    <strong>Street number:</strong>
    <%= property.street_no %>
  </p>

  <p>
    <strong>Door number:</strong>
    <%= property.door_no %>
  </p>

  <p>
    <strong>Floor number:</strong>
    <%= property.floor_no %>
  </p>

  <p>
    <strong>Rooms amount:</strong>
    <%= property.rooms_amount %>
  </p>

  <p>
    <strong>Buy price:</strong>
    <%= property.buy_price %>
  </p>

  <p>
    <strong>Sale price:</strong>
    <%= property.sale_price %>
  </p>

  <p>
    <strong>Bought at:</strong>
    <%= property.bought_at %>
  </p>

  <p>
    <strong>Sold at:</strong>
    <%= property.sold_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= property.status %>
  </p>
</div>
