<p style="color: green"><%= notice %></p>

<%# lg:ml-64 in belov div is added when navbar is shown %>
<div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto">
  <main>
    <div class="pt-6 px-4">
        <div class="w-full grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
          <%# card with property data %>
          <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8  2xl:col-span-2">
              <div class="flex items-center justify-between mb-4">
                <div class="flex-shrink-0">
                  <span class="text-ellipsis text-2xl sm:text-3xl leading-none font-bold text-gray-900"><%= @property_property.get_name %></span>
                  <%= render @property_property %>
                </div>
              </div>
          </div>
          <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
            <%= render 'layouts/tailwind/latest_transactions_table', model: @property_property %>
          </div>
        </div>
        <div class="grid grid-cols-1 2xl:grid-cols-2 xl:gap-4 my-4">
          <div class="bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">
              <div class="flex items-center justify-between mb-4">
                <h3 class="text-xl font-bold leading-none text-gray-900">Latest Clients</h3>
                <%= link_to "View all", customer_clients_path(property_id: @property_property.id), class: "text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2" %>
              </div>
              <div class="flow-root">
                <ul role="list" class="divide-y divide-gray-200">
                  <% @property_property.clients.each do |client| %>
                    <li class="py-3 sm:py-4">
                      <div class="flex items-center space-x-4">
                          <div class="flex-shrink-0">
                            <img class="h-8 w-8 rounded-full" src="https://demo.themesberg.com/windster/images/users/neil-sims.png" alt="Neil image">
                          </div>
                          <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 truncate">
                              <%= link_to client.get_name, client %>
                            </p>
                            <p class="text-sm text-gray-500 truncate">
                              <%= client.status %>
                            </p>
                          </div>
                          <div class="inline-flex items-center text-base font-semibold text-gray-900">
                              <%= number_to_currency(client.total_payments_amount) %>
                          </div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
          </div>
          <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
              <h3 class="text-xl leading-none font-bold text-gray-900 mb-10">Incomes VS Expenses</h3>
              <div class="block w-full overflow-x-auto">
                <table class="items-center w-full bg-transparent border-collapse">
                    <thead>
                      <tr>
                          <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">Kind</th>
                          <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">Paid</th>
                          <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">Total</th>
                          <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">% of total</th>
                      </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-100">
                      <tr class="text-gray-500">
                          <th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left">Incomes</th>
                          <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4"><%= number_to_currency @property_property.total_incomes_paid %></td>
                          <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4"><%= number_to_currency @property_property.total_incomes %></td>
                          <td class="border-t-0 px-4 align-middle text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">
                                <span class="mr-2 text-xs font-medium"><%= @property_property.incomes_percentage %></span>
                                <div class="relative w-full">
                                  <div class="w-full bg-gray-200 rounded-sm h-2">
                                      <div class="bg-teal-400 h-2 rounded-sm" style="width: <%= @property_property.incomes_percentage %>"></div>
                                  </div>
                                </div>
                            </div>
                          </td>
                      </tr>
                      <tr class="text-gray-500">
                          <th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left">Expenses</th>
                          <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4"><%= number_to_currency @property_property.total_expenses_paid %></td>
                          <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4"><%= number_to_currency @property_property.total_expenses %></td>
                          <td class="border-t-0 px-4 align-middle text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">
                                <span class="mr-2 text-xs font-medium"><%= @property_property.expenses_percentage %></span>
                                <div class="relative w-full">
                                  <div class="w-full bg-gray-200 rounded-sm h-2">
                                      <div class="bg-pink-600 h-2 rounded-sm" style="width: <%= @property_property.expenses_percentage %>"></div>
                                  </div>
                                </div>
                            </div>
                          </td>
                      </tr>
                    </tbody>
                </table>
              </div>
          </div>
        </div>
    </div>
  </main>
</div>
