<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :building_id %>
    <%= form.select(:building_id, @buildings_array) %>
  </div>

  <div class="field">
    <%= form.label :flat_id %>
    <%= form.select(:flat_id, @flats_array) %>
  </div>

  <div class="field">
    <%= form.label :tenant_id %>
    <%= form.select(:tenant_id, @tenants_array) %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :payment_type %>
    <%= select_tag(:payment_type, options_for_select(Payment::PAYMENT_TYPES.map.with_index(2))) %>

  </div>

  <div class="field">
    <%= form.label :received %>
    <%= form.date_select :received %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
