<!DOCTYPE html>
<html>
  <head>
    <title>Kapturek</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'layouts/tailwind/navbar' %>
    <div class="flex overflow-hidden bg-white pt-16">
      <%= yield %>
    </div>
  </body>
</html>
